body {
  font-family: Arial, sans-serif;
  background-color: #f5fcf3;
  padding: 10px;
}
#customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#customers td, #customers th {

padding: 10px;
}

#customers tr:nth-child(even){background-color:  #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #04AA6D;
color: white;

}
#customers tr{
padding-top: 12px;
padding-bottom: 12px;
text-align: center;

}
.button {
position: relative;
border: none;
font-size: 15px;
padding: 10px;
width: 90px;
text-align: center;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
overflow: hidden;
cursor: pointer;
border-radius: 100px;
margin-left: 10px;
}
button#click {
background-color: #006699;
}
#click:hover {background-color: #813e8e}

#click:active {
background-color: #da2d21;
transform: translateY(5px);
}
h2{
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.note{
text-decoration: none;
color: #FFFFFF;
}
.search {
margin-bottom: 20px;
text-align: center;
}

.search-input {
width: 50%;
height: 25px;
border-radius: 5px;
border: 1px solid #cac9c9;
padding: 5px;
margin-right: 10px;
}
.btnThem {
margin: 20px;
width: 150px;
height: 35px;
background-color: #2ac44e;
text-align: center;
border-radius: 5px;
border-color: #2ac44e ;
}
.btnsearch{
margin: 20px;
width: 100px;
height: 35px;
background-color: #3190cf;
text-align: center;
border-radius: 5px;
color: white;
border-color: #3190cf ;

}